<clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible">
    <clr-vertical-nav-group
            routerLinkActive="active">
        <a routerLink="./normal" hidden aria-hidden="true">
        </a>
        <clr-icon shape="circle" class="is-solid"  clrVerticalNavIcon></clr-icon>
        {{lineageItems[0].title}}
        <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink
               routerLink="./normal/pidgey"
               routerLinkActive="active">
                Pidgey
            </a>
            <a clrVerticalNavLink
               routerLink="./normal/snorlax"
               routerLinkActive="active">
                Snorlax
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
</clr-vertical-nav>