 .nav-link:before,
 ::ng-deep .nav-group-content:before {
  content : "";
  position: absolute;
  bottom  : 0;
  top : 0;
  height  : 100%;
  width   : 3px;  /* or 100px */
  background: blue;
  left: 1.29rem;
}

.nav-link,
 ::ng-deep .nav-group-content {
  position: relative;
}